<%= form_with(model: trash) do |form| %>
  <% if trash.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(trash.errors.count, "error") %> prohibited this trash from being saved:</h2>

      <ul>
        <% trash.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :ward_name, "追加区名", style: "display: block" %>
    <%= form.text_field :ward_name, id: :user_name, list: 'ward-list-name' %>
    <datalist id="ward-list-name">
      <% @wards.each do |ward| %>
      <option value="<% ward.name %>">
    <% end %>
    </datalist>
  </div>
  <div>
    <%= form.label :name, "追加区名" style: "display: block" %>
    <%= form.text_field :ward_place_name %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
