
<div class="add_form">
  <h2>区・地域追加</h2>
  <%= form_with(model: ward) do |form| %>
    <% if ward.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(ward.errors.count, "error") %> prohibited this ward from being saved:</h2>

        <ul>
          <% ward.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :ward_name, "区名", style: "display: block" %>
      <% if @ward != nil %>
        <%= form.text_field :ward_name, id: :ward_name, list: 'ward-list-name', value: @ward.name %>
      <% else %>
        <%= form.text_field :ward_name, id: :ward_name, list: 'ward-list-name' %>
      <% end %>
      <datalist id="ward-list-name">
        <% @wards.each do |ward| %>
          <option value="<%= ward.name %>">
        <% end %>
      </datalist>
    </div>

    <div>
      <%= form.label :wardplace_name, "追加地域名", style: "display: block" %>
      <%= form.text_field :wardplace_name, id: :wardplace_name , list: 'wardplace-list-name'%>
      <datalist id="wardplace-list-name">
      
        <% if @ward != nil %>
          <% @ward.wardplaces.each do |wardplace| %>
            <option value="<%= wardplace.name %>">
          <% end %>
        <% end %>
      </datalist>
    </div>

    <div>
      <%= form.submit "区/地域を選択"%>
    </div>
  <% end %>
</div>