<p style="color: green"><%= notice %></p>

<%= render @ward %>

<div>
  <%= link_to "Edit this ward", edit_ward_path(@ward) %> |
  <%= link_to "Back to wards", wards_path %>

  <%= button_to "Destroy this ward", @ward, method: :delete %>
</div>
